html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

b, strong { font-weight: bold; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.icon-arrow { width: 8px; height: 9px; background-image: url("../img/icons.png"); background-position: -39px 0px; }

.icon-search { width: 29px; height: 29px; background-image: url("../img/icons.png"); background-position: 0px 0px; }

/** Helper */
.clearfix:after { display: block; height: 0; clear: both; font-size: 0; content: ' '; visibility: hidden; }

* html .clearfix { zoom: 1; }

/* IE6 */
*:first-child + html .clearfix { zoom: 1; }

/* IE7 */
/** Base */
body { color: #303134; font-family: 'Arial', sans-serif; font-size: 12px; font-weight: 400; line-height: 2; }

input, textarea { color: #303134; }

.placeholder { color: #303134; }

::-webkit-input-placeholder { color: #303134; opacity: 1; }

:-moz-placeholder { color: #303134; opacity: 1; }

::-moz-placeholder { color: #303134; opacity: 1; }

:-ms-input-placeholder { color: #303134; opacity: 1; }

::placeholder { color: #303134; opacity: 1; }

/** BLOCK b-search */
.b-search { width: 436px; margin: 30px auto; padding: 16px 7px 8px 6px; background: #0b2d77; background: -webkit-gradient(linear, left bottom, left top, from(#0b2d77), to(#1e99c3)); background: -webkit-linear-gradient(bottom, #0b2d77 0%, #1e99c3 100%); background: -moz-linear-gradient(bottom, #0b2d77 0%, #1e99c3 100%); background: -o-linear-gradient(bottom, #0b2d77 0%, #1e99c3 100%); background: linear-gradient(0deg, #0b2d77 0%, #1e99c3 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e99c3', endColorstr='#0b2d77', GradientType=0); }
.b-search__head { margin-bottom: 7px; padding: 0 18px; }
.b-search__title { color: #fff; font-size: 18px; font-weight: normal; line-height: 1.1; text-transform: uppercase; }
.b-search__icon { background-image: url("../img/icons.png"); width: 29px; height: 29px; background-position: 0px 0px; display: inline-block; margin-right: 15px; vertical-align: middle; }

/** BLOCK tab */
.tab__content { background: #fff; }
.tab__pane { display: none; padding: 21px 16px; }
.tab__pane.is-active { display: block; }

/** BLOCK nav */
.nav { display: block; }
.nav__item { width: 215px; float: left; font-size: 12px; }
.nav__item + .nav__item { margin-left: 6px; }
.nav__link { display: block; padding: 12px 14px 5px; -webkit-transition: background .3s; -moz-transition: background .3s; -o-transition: background .3s; transition: background .3s; background: #61afd0; color: #fff; text-align: center; text-decoration: none; text-transform: uppercase; }
.nav__link:hover, .nav__link:focus, .nav__link:active { -webkit-transition: background 0s; -moz-transition: background 0s; -o-transition: background 0s; transition: background 0s; outline: 0; background: #fff; color: #1e99c3; }
.nav__link.is-active { background: url("../img/tab-active.png") center 2px no-repeat; color: #1e99c3; }

/** BLOCK form */
.form__foot { padding: 21px 30px 17px 64px; background: #fff url("../img/form-foot-bg.png") center top no-repeat; }
.form__result-text { margin-bottom: 7px; color: #0b2d77; font-size: 14px; line-height: 1.286; }
.form__body { margin-bottom: 7px; }

/** Modificator .form_tab-search */
.form_tab-search__map { width: 156px; margin-right: 22px; padding: 17px 18px 3px 0; float: left; border-right: 1px solid #ededed; }
.form_tab-search__fields { width: 207px; float: left; }

.form-group { margin-bottom: 26px; line-height: 1; }

.form-group_oneline .form-field, .form-group_oneline .form-select { display: inline-block; width: 120px; margin-left: 19px; }

.form-hint { padding: 9px 0 7px; color: #0b2d77; font-size: 11px; }

label, .label { display: inline-block; margin-bottom: 7px; outline: 0; color: #0b2d77; }

.form-field, .form-select { display: block; width: 100%; height: 23px; padding: 2px 3px 3px; border: 1px solid #e2e2ec; -webkit-border-radius: 2px; border-radius: 2px; border-top-color: #aaadb2; border-bottom-color: #e2e9ef; background: #fff; color: #303134; font-size: 11px; line-height: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.form-select { height: 23px; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; border-color: #a9adb2; background: #eaeaea; background-image: url("../img/select-btn.png"), -webkit-gradient(linear, left bottom, left top, from(#eaeaea), to(#fff)); background-image: url("../img/select-btn.png"), -webkit-linear-gradient(bottom, #eaeaea 0%, #fff 100%); background-image: url("../img/select-btn.png"), -moz-linear-gradient(bottom, #eaeaea 0%, #fff 100%); background-image: url("../img/select-btn.png"), -o-linear-gradient(bottom, #eaeaea 0%, #fff 100%); background-image: url("../img/select-btn.png"), linear-gradient(0deg, #eaeaea 0%, #fff 100%); background-repeat: no-repeat; background-position: 96% center; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.c-box-group { line-height: 1; }

select::-ms-expand { display: none; }

.c-box { position: relative; margin: 0 8px 0 0; padding: 3px 0 0; cursor: pointer; }
.c-box input { position: absolute; margin: 0; clip: rect(0, 0, 0, 0); vertical-align: middle; visibility: hidden; }
.c-box input:checked + .c-box__custom:after { display: block; }

.c-box__custom { display: inline-block; position: relative; top: -2px; width: 10px; height: 10px; margin: 0 4px 0 0; border: 1px solid #a9adb2; background: #000; background: -webkit-gradient(linear, left bottom, left top, from(#eaeaea), to(#fff)); background: -webkit-linear-gradient(bottom, #eaeaea 0%, #fff 100%); background: -moz-linear-gradient(bottom, #eaeaea 0%, #fff 100%); background: -o-linear-gradient(bottom, #eaeaea 0%, #fff 100%); background: linear-gradient(0deg, #eaeaea 0%, #fff 100%); vertical-align: middle; }
.c-box__custom:after { display: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 4px; height: 4px; margin: auto; -webkit-border-radius: 50%; border-radius: 50%; background: #000; content: ''; }

.btn { height: 34px; padding: 8px 19px 10px; border: 0; -webkit-border-radius: 2px; border-radius: 2px; background: #0b2d77; background: -webkit-gradient(linear, left bottom, left top, from(#0b2d77), to(#1e99c3)); background: -webkit-linear-gradient(bottom, #0b2d77 0%, #1e99c3 100%); background: -moz-linear-gradient(bottom, #0b2d77 0%, #1e99c3 100%); background: -o-linear-gradient(bottom, #0b2d77 0%, #1e99c3 100%); background: linear-gradient(0deg, #0b2d77 0%, #1e99c3 100%); color: #fff; font-size: 14px; font-weight: bold; line-height: 1.2; text-transform: uppercase; cursor: pointer; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e99c3', endColorstr='#0b2d77', GradientType=0); }
.btn__right-icon { display: inline-block; margin-left: 18px; vertical-align: middle; }
.btn:hover, .btn:focus { background: -webkit-gradient(linear, left bottom, left top, from(#0b2d77), color-stop(85%, #1e99c3), to(#1e99c3)); background: -webkit-linear-gradient(bottom, #0b2d77 0%, #1e99c3 85%, #1e99c3 100%); background: -moz-linear-gradient(bottom, #0b2d77 0%, #1e99c3 85%, #1e99c3 100%); background: -o-linear-gradient(bottom, #0b2d77 0%, #1e99c3 85%, #1e99c3 100%); background: linear-gradient(0deg, #0b2d77 0%, #1e99c3 85%, #1e99c3 100%); }
.btn:active { padding: 9px 19px; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }



/*# sourceMappingURL=style.css.map */
