<article class='full-page'>
  <section class='base-content text-center'>
    <h1 class='text-danger'>Something went wrong</h1>
    <p>An unexpected error occurred.</p>
    <p>
      Please try again later or contact us via
      <a href='mailto:kryskov.vitaliy@gmail.com'>email</a>.
    </p>
  </section>
</article>