@import '../../variables';
@import '../../mixins';

.assets-list {
  display: flex;
  flex-flow: row wrap;
  margin: 0 to-rem(-10);

  @media (min-width: map-get($breakpoints, 'lg')) {
    margin: 0 to-rem(-12);
  }

  &__item {
    width: 100%;
    padding: 0 to-rem(10) to-rem(20);

    @media (min-width: map-get($breakpoints, 'xs')) {
      width: 100%;
    }

    @media (min-width: map-get($breakpoints, 'sm')) {
      width: 50%;
    }

    @media (min-width: map-get($breakpoints, 'lg')) {
      width: 100% / 3;
      padding: 0 to-rem(12) to-rem(24);
    }

    @media (min-width: map-get($breakpoints, 'xxl')) {
      width: 25%;
    }
  }
}
